<footer class="footer">

  <div class="footer-container">

    <div class="footer-col">
      <h2 class="logo">HENZER</h2>
      <p>Got Questions? Call us 24/7!</p>
      <h3>+86 18825295964</h3>

      <h4>Contact Info</h4>
      <p>
        18L, A- Block, Hua Qiang Square<br>
        North Hua Qiang Road, Futian Dist,<br>
        Shenzhen-China, Zip: 518028
      </p>
    </div>

    <div class="footer-col">
      <h4>Categories</h4>
      <ul>
        <li>HENZER</li>
        <li>Silica</li>
        <li>Silica Lite</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Brands</h4>
      <ul>
        <li>Honor</li>
        <li>Huawei</li>
        <li>Iphone</li>
        <li>Mi</li>
        <li>Infinix</li>
        <li>Oppo</li>
        <li>Realme</li>
        <li>Redmi</li>
        <li>Samsung</li>
        <li>Vivo</li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

  </div>

  <div class="copyright">
    © Henzer - All Rights Reserved
  </div>

</footer>
