<div class="container">
  <h2>Add Category</h2>

  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Enter Category Name"
      [(ngModel)]="categoryName"
    />

    <button class="btn btn-primary mt-2" (click)="addCategory()">
      Add Category
    </button>
  </div>

  <hr />

  <h3>Existing Categories</h3>

  <table class="table table-bordered" *ngIf="categories.length > 0">
    <thead>
      <tr>
        <th>Category Name</th>
        <th width="120">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of categories; let i = index">
        <td>{{ category }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteCategory(i)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>